USE [master]
GO
/****** Object:  Database [eleccion]    Script Date: 23/12/2020 12:15:58 a. m. ******/
CREATE DATABASE [eleccion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eleccion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eleccion.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'eleccion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eleccion_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eleccion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eleccion]
GO
/****** Object:  Table [dbo].[votante]    Script Date: 23/12/2020 12:15:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[votante](
	[Nombre] [varchar](60) NULL,
	[idVotante] [varchar](50) NOT NULL,
	[Departamento] [varchar](60) NULL,
	[Municipio] [varchar](60) NULL,
	[voto] [varchar](60) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[idVotante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
